<component name="ArtifactManager">
  <artifact type="war" external-system-id="Maven" name="springMVCdemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVCdemo</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMVCdemo-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMVCdemo:war exploded" />
    </root>
  </artifact>
</component>